<!-- app/templates/admin/artists/artist_add.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "layout.html" %}
{% block title %}
    {% if add_artists %}
        Add Artist
    {% else %}
        Edit Artist
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_artists %}
                <h1>Add Artist</h1>
            {% else %}
                <h1>Edit Artist</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
