<!-- app/templates/admin/artwork/artwork.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "layout.html" %}
{% block title %}Artwork{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Artwork</h1>
        {% if artwork %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Artist </th>
                  <th width="15%"> Title </th>
                  <th width="7%"> Year </th>
                  <th width="15%"> Price </th>
                  <th width="15%"> Type of Art </th>
                  <th width="15%"> Group </th>
                  <th width="15%"> Assign Group </th>
                  <th width="15%"> Edit </th>
                  <th width="15%"> Delete </th>
                  <th width="15%"> Purchase Status </th>
                </tr>
              </thead>
              <tbody>
              {% for piece in artwork %}
                <tr>
                  <td> {{ piece.artistName }} </td>
                  <td> {{ piece.title }} </td>
                  <td> {{ piece.year }} </td>
                  <td> {{ piece.price }} </td>
                  <td> {{ piece.typeOfArt }} </td>
                  <td>
                      {% for artpiece in piece.group %}
                      {% print(artpiece) %}
                      {% endfor %}
                  </td>
                  <td>
                    <a href="{{ url_for('admin.assign_groups', title=piece.title) }}" class="btn btn-default btn-sm">
                      <i class="fa fa-pencil"></i> Assign Group
                    </a>
                  </td>
                  <td>
                    {% if piece.purchased %}
                        N/A
                    {% else %}
                        <a href="{{ url_for('admin.edit_artwork', title=piece.title) }}" class="btn btn-default btn-sm">
                        <i class="fa fa-pencil"></i> Edit
                        </a>
                    {% endif %}
                  </td>
                  <td>
                    {% if piece.purchased %}
                        N/A
                    {% else %}
                      <a href="{{ url_for('admin.delete_artwork', title=piece.title) }}" class="btn btn-default btn-sm">
                      <i class="fa fa-trash"></i> Delete
                      </a>
                    {% endif %}
                  </td>
                  <td>
                      {% if piece.purchased %}
                        Purchased
                      {% else %}
                        Available
                      {% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No art pieces have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_artwork') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Artwork
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
